@font-face
{
	font-family: "spatalink";
		src: url("../fichiers/Giro.otf");
}
.mobile
{
	display: block;
}
.web
{
	display: none;
}
a
{
	font-family: "spatalink";
}
nav
{
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color:#00a;
}
nav ul
{
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 0px;
}
nav ul li
{
	padding: 2px 4px;
	list-style: none;
	text-align: left;
}
nav a
{
	color: #fff;
	text-decoration: none;
}
footer a 
{
	color: #fff;
	font-size: 12px;
}
@media only screen and (min-width: 1000px)
{
	.mobile
	{
		display: none;
	}
	.web
	{
		display: block;
	}
	nav
	{
		margin-top: 25px;
		border-radius: 10px;
	}
	nav ul li
	{
		padding: 10px 20px;
	}
	nav ul li:hover
	{
		box-shadow: inset -20px 0px 5px #55f;
		border-radius: 10px;
		background-image: url(../fichiers/icon-arrow-right.png);
		background-position: left;
		background-repeat: no-repeat;
	}
	.artall a
	{
		color: #00a;
		font-size: 15px;
	}
	footer a 
	{
		color: #fff;
		font-size: 15px;
	}
}